@import "minireset.min.css";
@import "line-awesome.css";

@font-face {
  font-family: 'SPGrotesk'; font-weight: 400; font-style: normal;
  src: url('assets/fonts/SpaceGrotesk-Regular.woff') format('woff'),
       url('assets/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SPGrotesk'; font-weight: 500; font-style: normal;
  src: url('assets/fonts/SpaceGrotesk-Medium.woff') format('woff'),
       url('assets/fonts/SpaceGrotesk-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SPGrotesk'; font-weight: 600; font-style: normal;
  src: url('assets/fonts/SpaceGrotesk-SemiBold.woff') format('woff'),
       url('assets/fonts/SpaceGrotesk-SemiBold.woff2') format('woff2');
}

:root {
  --colorMain: #34bb58;
  --colorBody: #2f2f2f;
  --colorSecondary: #808AA2;
  --colorTertiary: #e4e7ee;
  --colorQuartenary: #eff1f6;
  --colorLink: #3772FF;
  --colorText: #3C3C3C;
  --colorAccent: #8C81F0;

  --baseUnit:12px;
  --fontSizeMain: 1.25rem;
  --fontSizeSmall: 1rem;

  --fontStackMain: 500 var(--fontSizeMain) / 2rem 'SPGrotesk', sans-serif;

  --shadowBig: 0 0 24px 0 rgba(128,138,162, .40);

  --spaceHuge: 4rem;
  --spaceLarge: 3rem;
  --spaceMedium: 2rem;
  --spaceRegular: 1.5rem;
  --spaceSmall: 1rem;
  --spaceTiny: .5rem;

  --padHorizontal: 0 var(--spaceMedium);
  --padLarge: var(--spaceSmall) var(--spaceLarge);
}
::selection {
  background-color: var(--colorAccent);
  color: black;
}
::placeholder {
  color: var(--colorSecondary);
}
html {
  font-size: var(--baseUnit);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  color: var(--colorBody);
  background-color: var(--colorTertiary);
  font: var(--fontStackMain);
}

/* Typography */
h1, .h1 {
  font: 600 4rem/4rem 'SPGrotesk', sans-serif;
  letter-spacing: -.125rem;
}
h2, .h2 {
  font: 600 2rem/3rem 'SPGrotesk', sans-serif;
  color: var(--colorMain);
}
h3, .h3 {
  font: 600 1.5rem/2rem 'SPGrotesk', sans-serif;
}

p {
  font: 500 1.25rem/2rem 'SPGrotesk', sans-serif;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
.uiLink:link, .uiLink:visited {
  text-decoration: none;
  color: var(--colorLink);
}
.uiLink:hover, .uiLink:focus {
  text-decoration: underline;
  outline: none;
}

.typoLabel {
  line-height: 1.5rem;
}
.typoTextLine {
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--colorSecondary);
}
.typoLabelTiny {
  font-weight: 600;
  font-size: .875rem;
}
.typoLabelSmall {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.typoLabelLarge {
  color: var(--colorSecondary);
  font-size: 1.3333333rem;
  line-height: 2rem;
}

.app {

}

.debug {
  z-index: 400;
  padding: var(--spaceMedium);
  position: fixed;
  background-color: rgba(128, 138, 162, 0.75);
  color: white;
  width: 100%;
  top: 0;
}
button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border: 0;
}
.uiButton {
  cursor: pointer;
  border-radius: .25rem;
  min-width: 8rem;
  font: var(--fontStackMain);
  font-weight: 500;
  height: 3rem;
}
.uiButtonPrimary {
  background-color: var(--colorMain);
  color: white;
}
.uiButtonPrimary:hover, .uiButtonPrimary:focus {
  background-color: var(--colorLink);
}
.uiButtonSecondary {
  background-color: transparent;
  color: var(--colorMain);
  position: relative;
}

.uiButtonSecondary:after {
  content: "";
  border: 2px solid;
  position: absolute;
  width:100%;
  height: 100%;
  border-radius: .25rem;
}

.uiButtonSecondary:hover, .uiButtonSecondary:focus {
  color: var(--colorLink);
}

.uiButtonTertiary {
  background-color: var(--colorSecondary);
  color: white;
}
.uiButtonTertiary:hover, .uiButtonTertiary:focus {
  background-color: var(--colorLink);
}
.uiButtonSmall {
  min-width: 0;
  font-size: 1rem;
  height: 2rem;
}

.uiButtonFiller {
  display:block;
  position: absolute;
  bottom: 0;
  background-color: blue;
  width: 100%;
}
input {
  display: flex;
}

.uiInput {
  display: flex;
  width: 100%;
  max-width: 100%;
  font: var(--fontStackMain);
  color: var(--colorBody);
  border: 0;
  border-radius: .25rem;
  padding: .25rem .5rem;
  border: 2px solid var(--colorTertiary);
  background-color: transparent;
}
.uiInput:not(.uiInputCheckbox):hover {
  border: 2px solid var(--colorSecondary);
}
.uiInputSelect {
  height: 3rem;
}
.uiInputIcon {
  flex:none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: var(--colorMain);
  background-color: transparent;
  border: 2px solid var(--colorTertiary);
  border-right: none;
  border-radius: .25rem 0 0 .25rem;
}
.uiInputIcon:hover {

}
.uiInputIcon + .uiInput {
  border-radius: 0 .25rem .25rem 0;
}

input:focus, .uiInput:focus {
  border-color: var(--colorLink);
  outline: none;
}
button:focus, .uiButton:focus {
  outline: none;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}

.wrapper {
  margin: 2rem 2rem;
  padding: 4rem;
  margin: 0 auto;
}

.uiContainer {
  /* Display & Position */
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-bottom: 2rem;
  /* Size */

  /* Appearance */

  /* Util */
  overflow: hidden;
}

.uiSheet {
  background-color: white;
  box-shadow: var(--shadowBig);
  border-radius: .5rem;
}

.uiContainerContent {

}

.container > * {
  flex-basis: 100%;
}

.uiText {
  padding: 1rem 2rem;
}

.uiWelcome {

}

.uiActionBar {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--colorQuartenary);
}

.uiActions {
  display: flex;
  flex: none;
}

.uiActions > * {
  margin-right: 1rem;
}
.uiActions > *:last-child {
  margin-right: 0rem;
}
.content {
  flex: 1 0 calc(25% - 2rem);
  min-height: 25vh;
  padding: 2rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.125);
}


.uiSlides {

}
.uiSlide {

}
.uiSegmentControlGroup {

}
.uiSegmentControls {
  display: flex;
  align-items: center;
}
.uiSegmentControlItem {
  display: flex;
  flex: 1 0 auto;
  background-color: var(--colorTertiary);
  border-radius: 0;
  padding: 0rem 1rem;
}
.uiSegmentControlItem:hover, .uiSegmentControlItem:focus {
  background-color: var(--colorLink);
  color: white;
}
.uiSegmentControlItem.active {
  background-color: var(--colorSecondary);
  color: white;
}
.uiSegmentControlView {

}
.uiSegmentControlView.inactive {
  display: none;
}
.uiSegmentControlItem:first-child {
  padding-left: 1.5rem;
  border-radius: 1.5rem 0 0 1.5rem;
}
.uiSegmentControlItem:last-child {
  padding-right: 1.5rem;
  border-radius: 0 1.5rem 1.5rem 0;
}
.uiList {

}

.uiListItem {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 4rem;
  padding: 1rem;
  padding-right: 2rem;
  cursor: pointer;
}
.uiListItem:after {
  display: block;
  position: absolute;
  content: '';
  left: 5rem;
  width: calc(100% - 6rem);
  height: 1px;
  background-color: var(--colorTertiary);
  bottom:0;
}
.uiListItem:last-child:after {
  display: none;
}
.uiListItem:hover {
  background-color: var(--colorQuartenary);
}
.uiThumbnail {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: var(--spaceLarge);
  height: var(--spaceLarge);
  flex: none;
  background-color: var(--colorSecondary);
  border-radius: 50%;
}
.uiThumbnailLarge {
  width: var(--spaceHuge);
  height: var(--spaceHuge);
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.uiListItemActionGroup {
  flex: none;
  margin-left: auto;
  padding: var(--spaceSmall)
}
.uiThumbnail {
  margin-right: var(--spaceSmall);
}

.utilFlexColumnCenter {
  display: flex;
  align-items: center;
}
.uiCards {

}
.uiCard {
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  max-width: 32rem;
}

.uiForm {
  max-width: 32rem;
}
.uiInputLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.uiInputCheckboxLabel {
  position: relative;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
}
.uiInputCheckboxLabel:hover, .uiInputCheckboxLabel:focus {

}
.uiInputCheckbox {
  opacity: 0;
  top:1.5rem;
  position: absolute;
}
.uiInputRadio {
  visibility: hidden;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 10px;
}
.uiInputWrapper {
  position: relative;
}
.uiInputCheckboxLabel:before {
  display:flex;
  flex: none;
  align-items: center;
  justify-content: center;

  content: '';

  width: 16px;
  height: 16px;
  margin: 4px;

  margin-right: 1rem;
  /* Display */
  background-color: transparent;
  border-radius: .25rem;
  border: 1.5px solid var(--colorTertiary);
  line-height: 1rem;
  color: white;
  font-size: 10px;
}

.uiInputCheckbox[type=checkbox]:checked {

}

.uiInputCheckbox[type=checkbox]:checked + .uiInputCheckboxLabel:before {
  background-color: var(--colorMain);
  border: 2px solid var(--colorMain);
  content: "✔";
}
.uiInputRadioLabel {
  min-width: 8rem;
  background-color: var(--colorQuartenary);
  padding-left: 1rem;
  padding-right: 1.5rem;
  border-radius: 3rem;
  height: 3rem;
}
.uiInputRadioLabel:before {
  font-family: 'LineAwesome';
  background-color: var(--colorMain);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  content: '';
  width: 16px;
  height: 16px;
  margin-right: .75rem;
  background-color: transparent;
  border:2px solid var(--colorSecondary);
  border-radius: 50%;
}
.uiInputRadioLabelIcon:before {
  display: none;
}
.uiInputRadio[type=radio]:checked + .uiInputRadioLabel {
  color: var(--colorMain);
}
.uiInputRadio[type=radio]:checked + .uiInputRadioLabel:before {
  background-color: var(--colorMain);
  border: 2px solid transparent;
}

.uiInputRadioLabel > i {
  color: var(--colorSecondary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
}
.uiInputRadio[type=radio]:checked + .uiInputRadioLabel > i {
  color: var(--colorMain);
}
.padContainer {
  padding: 1rem 2rem 1rem 2rem;
}
.marginTiny {
  margin: .5rem 0 .5rem 0;
}
.marginSmall {
  margin: 1rem 0 1rem 0;
}
.marginWrapper {
  margin: 1rem 0 2rem 0;
}
.marginLarge {
  margin-bottom: 2rem;
}
.marginSmallTop {
  margin-top: var(--spaceSmall);
}

.padSquare {
  padding: var(--spaceSmall);
}
.marginLarge {
  margin-bottom: var(--spaceHuge);
}
.utilFlex {
  display: flex;
}
.utilFlexNone {
  flex:none !important;
}

.utilSide {
  display: flex;
  flex-wrap: wrap;
}

.utilSide > * {
  flex: 1 1 auto;
  margin-right: 2rem;
}

.utilSide.utilSideSmall > * {
  margin-right: 1rem;
}

.utilSide > *:last-child {
  margin-right: 0;
}
.utilPullBottom {
  margin-top: auto;
}
.utilPullRight {
  margin-left: auto;
}
.utilMarginRight {
  margin-right: 2rem;
}
.utilMarginRight:last-child {
  margin-right: 0;
}
.utilCenter {
  align-items: center;
  justify-content: center;
}
/* Utils */
.colMain {
  color: var(--colorMain);
}
.colSecondary {
  color: var(--colorSecondary);
}
.colAccent {
  color: var(--colorAccent);
}
.bgMain {
  background-color: var(--colorMain);
}
.bgSecondary {
  background-color: var(--colorSecondary);
}
.bgAccent {
  background-color: var(--colorAccent);
}
